<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>vue入门</title>
		<script src="../js/vue.js"></script>
	</head>
	<body>
		<div id="root">
			<input v-model="inputValue"/>
			<button @click="onSubmit">提交</button>
			<ul>
				<!-- 当ul中的内容很庞大时，将ul里的内容定义成组件更好维护 -->
				<!-- <li v-for="(item, index) of list" :key="index">{{item}}</li> -->
				<mycomp></mycomp>
			</ul>
		</div>
		<script type="text/javascript">
			
			//定义局部组件：需要在Vue实例中使用compoents声明
			//局部组件————一个Vue实例想要使用这个组件，就需要使用components去注册这个组件，没有注册的Vue实例无法使用这个组件
			var itemCompPart = {
				template: "<li>局部组件</li>"
			}
			
			new Vue({
				el: "#root",
				data: {
					inputValue: "请输入数据",
					list: []
				},
				components:{
					"mycomp": itemCompPart
				},
				methods: {
					onSubmit: function() {
						this.list.push(this.inputValue)
						this.inputValue = ""
					}
				}
			})
		</script>
	</body>
</html>
