body,html{height:100%;-webkit-tap-highlight-color:transparent}.page,body{background-color:#fbf9fe}.container{overflow:hidden}.container,.page{position:absolute;top:0;right:0;bottom:0;left:0}.page{overflow-y:auto;-webkit-overflow-scrolling:touch}.hd{padding:2em 0}.page_desc{text-align:center;color:#888;font-size:14px}.bd.spacing{padding:0 15px}.page_title{text-align:center;font-size:34px;color:#3cc51f;font-weight:400;margin:0 15%}.global_navs{background-color:transparent}.global_navs:after,.global_navs:before{border-color:#d9dbda}.global_navs .icon_nav{width:28px;height:28px;display:block;margin-right:.7em}.page.button .page_title{color:#225fba}.page.button .bd{padding:0 15px}.page.button .button_sp_area{padding:10px 0;width:60%;margin:0 auto;text-align:justify;text-justify:distribute-all-lines;font-size:0}.page.button .button_sp_area:after{display:inline-block;width:100%;height:0;font-size:0;margin:0;padding:0;overflow:hidden;content:"."}.page.cell .page_title{color:#225fba}.page.cell .bd{padding-bottom:30px}.page.toast{background-color:#fff}.page.toast .bd{padding:120px 15px 0}.page.dialog{background-color:#fff}.page.dialog .bd{padding:120px 15px 0}.page.article,.page.msg{background-color:#fff}.page.article .page_title{color:#de7c23}.page.icons{background-color:#fff;text-align:center}.page.icons .page_title{color:#3e24bd}.page.icons .bd{padding:30px 0;text-align:center}.page.icons .icon_sp_area{padding:10px 20px;text-align:left}.page.icons i{margin:0 5px 10px}@-webkit-keyframes a{0%{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}to{-webkit-transform:translateZ(0);transform:translateZ(0)}}@keyframes a{0%{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}to{-webkit-transform:translateZ(0);transform:translateZ(0)}}@-webkit-keyframes b{0%{-webkit-transform:translateZ(0);transform:translateZ(0)}to{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}}@keyframes b{0%{-webkit-transform:translateZ(0);transform:translateZ(0)}to{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}}.page.slideIn{-webkit-animation:a .2s forwards;animation:a .2s forwards}.page.slideOut{-webkit-animation:b .2s forwards;animation:b .2s forwards}
.myview{
	display: block;
}
ul,ol,li{list-style-type:none;} 
.ximage{
	border: 1px solid #D9D9D9;
}
.ximage_del{
	border: 1px solid #FF0000;
	opacity: 0.5;
}
.ximage_img{
	height: 77px;
	width: 77px; 
	padding: 0px;
	opacity: 0.5;
}
.ximage_img0{
	height: 77px;
	width: 77px;
	padding: 0px;
	opacity: 1;
}
.weui_uploader_input_edit {
  float: left;
  position: relative;
  margin-right: 9px;
  margin-bottom: 9px;
  width: 77px;
  height: 50px;
  border: 1px solid #D9D9D9;
  padding-top: 27px;
  text-align: center;
  color: #cccccc;
}

.fixw{ min-width: 100px;}
.fixw2{ min-width: 200px;}

.weui_select_padding0 {
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  background-color: transparent;
  width: 100%;
  font-size: inherit;
  height: 44px;
  line-height: 44px;
  position: relative; 
  z-index: 1;
  padding-left: 0px;
}
.fixw{ min-width: 100px;}
.fixw2{ min-width: 200px;}

.subtitle{
	font-size: 10pt;
	color: #aaaaaa;
}

#footer {
	position:fixed;
 	bottom:0;
 	clear:both;
 	width: 100%;
}
#footer_bg {
    height: 40px;
    clear:both;
}

.toolbar{
	width: 100%;
	height: 40px;
	line-height: 40px;
	list-style: none;
}

.toolbar_btn{
	list-style: none;
	float: left;
	line-height: 30px;
	width: 33.3%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background-color: #3cc51f;
	color: #ffffff;
}

.toolbar_btn50{
	list-style: none;
	float: left;
	line-height: 30px;
	width: 50%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background-color: #3cc51f;
	color: #ffffff;
	font-size: 16px;
}
.toolbar_btn30{
	list-style: none;
	float: left;
	line-height: 30px;
	width: 33.3%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background-color: #3cc51f;
	color: #ffffff;
	font-size: 16px;
}

.toolbar_btn100{
	list-style: none;
	float: left;
	line-height: 30px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background-color: #3cc51f;
	color: #ffffff;
	font-size: 16px;
}
